* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family:"roboto" ,sans-serif;
}
body{
  background-color:var(--bg);
  padding-top:75px;
}
:root{
  --bg: #0f0f0f;
  --primary: #39ff14;
  --accent: #00bcd4;
  --button:#ff0266;
  --text:#e0e0e0;
}
header{
  display: flex;
  position: fixed;
  left: 0;
  right:0;
  top:0;
  height:70px;
  width:100%;
  flex-direction: row;
  background-color: var(--bg);
  gap:10px;
  border-bottom: 2px solid white;

}
.logo{
  color: var(--primary);
  text-align:center;
  width: 25%;
  padding-top:20px
  
}
.nav-links{
  display:flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.nav-links ul{
  list-style:none;
  display: flex;
  gap: 10px;
}
.nav-links ul a{
  text-decoration: none;
  font-size:20px;
  color:var(--text);
}
main{
  display: grid;
  grid-template-rows:1fr 2fr;
  width:100%;
  gap:5px;
  max-height:1000px;

}
.about-me{
  display:flex;
  flex-direction:row;
  width:100%;
}
.aboutme-text{
  height: 100%;
  width: 30%;
}
.aboutme-image{
  height:100%;
  flex:1;
}
.about-me div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-me div p {
  color: var(--text);
}
.projects{
  display: grid;
  grid-template-rows:30px 1fr;
  width: 100%;
}
.project-gallery{
  display:grid;
  grid-template-columns:1fr 1fr;
}
.project-gallery div img{
  width:100%;
  object-fit:contain;
}
footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:10px;
  height:100px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.footer-links ul a{
  text-decoration: none;
  color:var(--text);
  font-size:20px;
}
.footer-logo h3{
  color:var(--primary)
}